 .u-section-1 {
  filter: none;
  background-image: url("images/photo-1533119408463-b0f487583ff6.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 669px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 189px 172px 60px 73px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-right: 45px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }
}